<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,992},{627,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{627,17}}</string>
                <key>sourceSize</key>
                <string>{631,19}</string>
            </dict>
            <key>barBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,964},{638,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{638,26}}</string>
                <key>sourceSize</key>
                <string>{640,26}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,964},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,964},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pauseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,133},{129,129}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,129}}</string>
                <key>sourceSize</key>
                <string>{137,135}</string>
            </dict>
            <key>pauseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,133},{129,129}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,129}}</string>
                <key>sourceSize</key>
                <string>{137,135}</string>
            </dict>
            <key>resumeNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{129,129}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,129}}</string>
                <key>sourceSize</key>
                <string>{137,135}</string>
            </dict>
            <key>resumeSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{129,129}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,129}}</string>
                <key>sourceSize</key>
                <string>{137,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elements1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b13eb365424639accc7d9c9f8422e068$</string>
            <key>textureFileName</key>
            <string>elements1.png</string>
        </dict>
    </dict>
</plist>
